<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CrazyPrice</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="home">

<nav class="navbar">

    <h2>Crazy<span>Price</span></h2>

    <a href="/login">Ingresar</a>

</nav>


<section class="hero">

    <h1>La moda que define tu estilo</h1>

    <p>
        Compra ropa moderna con los mejores precios.
    </p>

    <a class="btn" href="/login">
        Comprar ahora
    </a>

</section>


</body>
</html>