<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<title>{{ producto.nombre }} | CrazyPrice</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>


<nav class="navbar">


<h2>
Crazy<span>Price</span>
</h2>


<div class="navbar-right">


<a href="/cliente">

Seguir comprando

</a>



<a href="/carrito">

🛒 Carrito

{% set cantidad_carrito = namespace(total=0) %}

{% for item in carrito %}

{% set cantidad_carrito.total = cantidad_carrito.total + item.cantidad %}

{% endfor %}


<span class="cart-count" id="cart-count">

{{ cantidad_carrito.total }}

</span>


</a>



<a href="/logout">

Cerrar sesión

</a>


</div>


</nav>







<section class="product-page">



<div class="product-card">



<div class="product-image">



{% if producto.imagen.startswith('http') %}

<img 
src="{{ producto.imagen }}"
alt="{{ producto.nombre }}">


{% else %}

<img 
src="{{ url_for('static', filename=producto.imagen) }}"
alt="{{ producto.nombre }}">


{% endif %}



</div>







<div class="product-details">



<h1>

{{ producto.nombre }}

</h1>



<div class="rating">

★★★★★

</div>





<h2 class="price">

${{ producto.precio|int }}

</h2>





<p class="description">

{{ producto.descripcion }}

</p>





<p class="stock">

Disponible:
<strong>{{ producto.stock }}</strong>

unidades

</p>







<form method="POST" action="/agregar_carrito?origen=producto">





<input
type="hidden"
name="id"
value="{{ producto.id }}">





<input
type="hidden"
name="producto"
value="{{ producto.nombre }}">





<input
type="hidden"
name="precio"
value="{{ producto.precio }}">





<input
type="hidden"
name="imagen"
value="{{ producto.imagen }}">







<label>

Cantidad

</label>





<input
class="quantity"
type="number"
name="cantidad"
value="1"
min="1"
max="{{ producto.stock }}">





<br><br>






<button class="btn buy-btn">

🛒 Agregar al carrito

</button>






</form>







<a href="/cliente" class="back">

← Volver a productos

</a>






</div>


</div>


</section>


</body>

</html>